<section class="container-fluid custom-modal" id="funtionality">
    <div class="container">
        <p onclick="closeModal('funtionality')" class="close-modal">X</p>
        <article class="centerfy-col-sa">
            <h3>FUNCTIONALITY DOENS'T WORK ON THE SAMPLE </h3>
            <p>REQUEST A DEMO INSTEAD</p>
            <a href="wa.me/+27761762729"><p>HERE</p></a>
        </article>
    </div>
</section>