<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        section {
            height: 100vh;
            width: 100%;
            display: flex;
            background: url("../assets/galler-hero.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #ffa20094;
            background-blend-mode: multiply;
        }
        article {
            margin: auto;
            max-width: 400px;
            padding: 1% 3px;
            background-color: #00000061;
            font-size: 180%;
            color: white;
            text-align: center;
            font-weight: 700;
        }
        article a {
            color: orange;
        }
    </style>
</head>
<body>
<section class="container-fluid centerfy">
    <article class="centerfy-col">
        <h1>ROAD UNDERCONSTRUCTION</h1>
        <p>Please Go Back Home</p>
        <a href="../">HOME</a>
    </article>
</section>
</body>
</html>
